body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  width: 70px;
  height: 70px;
  border-radius: 999px;
  font-size: 30px;
  background-color: rgba(5, 213, 97, 0.15);
  color: #222;
}
hr {
  border-bottom: 1px solid #222;
}
.grid .card:hover,
.pricing-card:hover {
  transform: translateY(-10px);
}
.grid .card:hover h4,
.pricing-card:hover .price {
  color: #2cfa89;
}
.pricing-card h4 {
  font-size: 14px;
  font-family: "Titillium Web", "Almarai", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #aaa;
}
.grid .card:hover .icon {
  background-color: #2cfa89;
  color: #ffff;
}
.video-preview {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 425px;
  border-radius: 10px;
  box-shadow: 5px 15px 28px 5px rgba(0, 0, 0, 0.18);
  background-color: #ddd;
}
.video-preview .img-bg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.img-bg {
  overflow: hidden;
  position: relative;
  display: block;
  height: 330px;
  border-radius: 4px;
  background: no-repeat center / cover;
  background-color: #ddd;
  transition: all 0.5s;
}
.img-bg .bg-element {
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat top center / cover;
  transition: all 0.4s ease;
}
.video-preview .overlay-colored {
  transition: all 0.2s;
}

.overlay-colored,
.overlay-pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.color-bg-dark {
  background-color: #222;
}
.video-preview .btn-video {
  position: absolute;
  z-index: 2;
}
.btn-video {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.btn-video i {
  box-shadow: 0 0 0 0 rgba(44, 250, 135, 0.5);
  animation: pulse 1.2s infinite;
}

@keyframes pulse {
  0% {
  }
  70% {
    box-shadow: 0 0 0 30px rgba(44, 250, 135, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(44, 250, 135, 0);
  }
}
.btn-video i {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 24px;
  border-radius: 100%;
  background: #05d561;
  color: #fff;
  /* text-indent: 3px; */
  transition: all 0.1s !important;
}
.btn-video i:hover {
  background: #222;
}
footer .space-x-4 a {
  background: #aaa;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 20px;
}
footer .space-x-4 a:hover,
i:hover {
  /* transform: translateY(-50%); */
  background-color: #2cfa89;
  color: #fff;
}
