.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  width: 70px;
  height: 70px;
  border-radius: 999px;
  font-size: 30px;
  background-color: rgba(5, 213, 97, 0.15);
  color: #222;
}
hr {
  border-bottom: 1px solid #222;
}
.grid .card:hover {
  transform: translateY(-10px);
}
.grid .card:hover h4 {
  color: #2cfa89;
}
.grid .card:hover .icon {
  background-color: #2cfa89;
  color: #ffff;
}
