.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  width: 70px;
  height: 70px;
  border-radius: 999px;
  font-size: 30px;
  background-color: rgba(5, 213, 97, 0.15);
  color: #222;
}
